[Unit]
Description=A naive mimic of zigbee2mqtt for bluetooth with python
After=network.target bluetooth.target

[Service]
# bluetooth depends on dbus so no DynamicUser
# https://github.com/systemd/systemd/issues/9503
User=nobody
Group=nogroup
RuntimeDirectory=%n
RootDirectory=%t/%n
MountAPIVFS=yes
PrivateTmp=yes
BindPaths=/opt/ble2mqtt/app:/app
BindReadOnlyPaths=/opt/ble2mqtt/conda:/conda
BindReadOnlyPaths=/lib /lib32 /lib64 /bin /sbin
BindPaths=/var/run/dbus
WorkingDirectory=/app
Environment=PYTHONUNBUFFERED=1
ExecStart=/conda/bin/python3 main.py
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
